<!DOCTYPE html>
<html>
<head>
  <title>About</title>
  <link rel="stylesheet" href="../styles/style.css">
 </head>

<body>
  <% include global/header %>

  <div id="About">
    <h2>About Our Application</h2>
    <br>
    <p> <small>The purpose of our application is to educate our users about the presence of HIV in their neighborhood.
      Many believe that HIV is an issue of the past; however, it still poses a threat to the health of the human race.
      As a result, we must be aware of the extent to which we are exposed to it in our communities. Our app intends to
      communicate with our users how careful they must be in their own neighborhood. Through using this application,
      users will know how many diagnoses there are of HIV in their area, as well as their closest condom distributors.
      Our intention is not to scare our users, but rather help to protect them and keep them healthy!</small></p>

    <br>
    <p><small> We used 2 data sources from NYC Open Data: </small></p>
    <ol>
      <li> HIV/AIDS Diagnoses by Neighborhood, Sex, and Race/Ethnicity </li>
      <li> NYC Condom Availability Program - HIV condom distribution locations </li>
    </ol>
  </div>


  <% include global/footer %>
  <script src="scripts/scripts.js"></script>
 </body>
</html>
