<!DOCTYPE html>
<html>
<head>
  <title>About</title>
  <link rel="stylesheet" href="../styles/style.css">
 </head>

<body>
  <% include global/header %>

  <div id="About">
    <h2>About Our Application</h2>
    <br>
  </div>

  <% include global/footer %>
  <script src="scripts/scripts.js"></script>
 </body>
</html>
