<!DOCTYPE html>
<html>
<head>
  <title>Index</title>
  <link rel="stylesheet" href="../styles/style.css">
 </head>

<body>
  <% include global/header %>

  <div id="About">

    <h2>Welcome to our application!</h2>
    <br>
    <form action="/main" method="get">
      <button type="submit" class="btn btn-success">Let's Begin!</button>
    </form>
  </div>

  <% include global/footer %>
  <script src="scripts/scripts.js"></script>
 </body>
</html>
