<!DOCTYPE html>
<html>
<head>
    <center><title>Sign Up</title></center>
  <link rel="stylesheet" href="../styles/style.css">
 </head>

<body>
  <% include global/header %>

  <div id="Index">

    <h2>Welcome to our application!</h2>
    <br>

    <div id="enter_name">
      <h2>Welcome to our application! Please sign in or create an account below.</h2>
      <form action="/users/game" method="get">
        Please enter your username: &nbsp<input type="text" id="enter_name_input" name="player_name" value = "<%=data.name%>">
        Please enter your password: &nbsp<input type="password" id="enter_password_input" name="password" value="<%=data.password%>">
        <button type="submit" id = "enter_name_button">Log In</button>
      </form>

      <a href ="/user/new">Create a new user!</a>&emsp;



    </div>
  </div>
  <footer>
    <% include global/footer %>
  </footer>
<!--  <script src="scripts/scripts.js"></script> -->
 </body>
</html>
