<!DOCTYPE html>
<html>

<head>
    <title>Main</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
    <% include global/header %>




        <div id="norm">
            <h2>
            </h2>
            <h4><small> Select other zip codes and neighborhoods to view a wider array of data</small></h4>
            <div style="margin-right:50px;margin-left:50px">
                <form action="/users/results">
                    Zip code:<select id="demo" name="zipcode" class="form-control" multiple="multiple">
            <option value="10001">10001</option><option value="10002">10002</option><option value="10003">10003</option><option value="10004">10004</option><option value="10005">10005</option><option value="10009">10009</option><option value="10010">10010</option><option value="10011">10011</option><option value="10012">10012</option><option value="10013">10013</option><option value="10014">10014</option><option value="10016">10016</option><option value="10017">10017</option><option value="10018">10018</option><option value="10019">10019</option><option value="10022">10022</option><option value="10024">10024</option><option value="10025">10025</option><option value="10026">10026</option><option value="10027">10027</option><option value="10028">10028</option><option value="10029">10029</option><option value="10030">10030</option><option value="10031">10031</option><option value="10032">10032</option><option value="10033">10033</option><option value="10035">10035</option><option value="10036">10036</option><option value="10037">10037</option><option value="10038">10038</option><option value="10040">10040</option><option value="10065">10065</option><option value="10128">10128</option><option value="10301">10301</option><option value="10310">10310</option><option value="10451">10451</option><option value="10452">10452</option><option value="10453">10453</option><option value="10454">10454</option><option value="10456">10456</option><option value="10457">10457</option><option value="10458">10458</option><option value="10459">10459</option><option value="10474">10474</option><option value="11101">11101</option><option value="11103">11103</option><option value="11106">11106</option><option value="11201">11201</option><option value="11203">11203</option><option value="11205">11205</option><option value="11206">11206</option><option value="11207">11207</option><option value="11208">11208</option><option value="11211">11211</option><option value="11212">11212</option><option value="11213">11213</option><option value="11215">11215</option><option value="11216">11216</option><option value="11217">11217</option><option value="11218">11218</option><option value="11221">11221</option><option value="11224">11224</option><option value="11231">11231</option><option value="11232">11232</option><option value="11237">11237</option><option value="11238">11238</option><option value="11249">11249</option><option value="11354">11354</option><option value="11368">11368</option><option value="11370">11370</option><option value="11372">11372</option><option value="11373">11373</option><option value="11375">11375</option><option value="11377">11377</option><option value="11385">11385</option><option value="11423">11423</option><option value="11432">11432</option><option value="11435">11435</option></select> Neighborhood:
                    <select id="demo" name="neighborhood" class="form-control" multiple="multiple">
            <option value="All">All</option><option value="Bayside - Little Neck">Bayside - Little Neck</option><option value="Bedford Stuyvesant - Crown Heights">Bedford Stuyvesant - Crown Heights</option><option value="Bensonhurst - Bay Ridge">Bensonhurst - Bay Ridge</option><option value="Borough Park">Borough Park</option><option value="Canarsie - Flatlands">Canarsie - Flatlands</option><option value="Central Harlem - Morningside Heights">Central Harlem - Morningside Heights</option><option value="Chelsea - Clinton">Chelsea - Clinton</option><option value="Coney Island - Sheepshead Bay">Coney Island - Sheepshead Bay</option><option value="Crotona - Tremont">Crotona - Tremont</option><option value="Downtown - Heights - Park Slope">Downtown - Heights - Park Slope</option><option value="East Flatbush - Flatbush">East Flatbush - Flatbush</option><option value="East Harlem">East Harlem</option><option value="East New York">East New York</option><option value="Flushing - Clearview">Flushing - Clearview</option><option value="Fordham - Bronx Park">Fordham - Bronx Park</option><option value="Fresh Meadows">Fresh Meadows</option><option value="Gramercy Park - Murray Hill">Gramercy Park - Murray Hill</option><option value="Greenpoint">Greenpoint</option><option value="Greenwich Village - SoHo">Greenwich Village - SoHo</option><option value="High Bridge - Morrisania">High Bridge - Morrisania</option><option value="Hunts Point - Mott Haven">Hunts Point - Mott Haven</option><option value="Jamaica">Jamaica</option><option value="Kingsbridge - Riverdale">Kingsbridge - Riverdale</option><option value="Long Island City - Astoria">Long Island City - Astoria</option><option value="Lower Manhattan">Lower Manhattan</option><option value="Northeast Bronx">Northeast Bronx</option><option value="Pelham - Throgs Neck">Pelham - Throgs Neck</option><option value="Port Richmond">Port Richmond</option><option value="Ridgewood - Forest Hills">Ridgewood - Forest Hills</option><option value="Rockaway">Rockaway</option><option value="South Beach - Tottenville">South Beach - Tottenville</option><option value="Southeast Queens">Southeast Queens</option><option value="Southwest Queens">Southwest Queens</option><option value="Stapleton - St. George">Stapleton - St. George</option><option value="Sunset Park">Sunset Park</option><option value="Union Square - Lower Eastside">Union Square - Lower Eastside</option><option value="Unknown">Unknown</option><option value="Upper Eastside">Upper Eastside</option><option value="Upper Westside">Upper Westside</option><option value="Washington Heights - Inwood">Washington Heights - Inwood</option><option value="West Queens">West Queens</option><option value="Williamsburg - Bushwick">Williamsburg - Bushwick</option><option value="Willowbrook">Willowbrook</option>
          </select>
                    <br>
                    <button type="submit" id="enterSearch">Search</button>

                </form>
            </div>
        </div>


        <div id="norm">
            <center>
                <table>
                    <h4><u>Here are your closest condom distribution centers! </u></h4>
                    <tr>
                        <th class="top_row ">Zip code</th>
                        <th class="top_row ">Address</th>
                    </tr>
                    <%dist=info[0];for(var i=0; i < dist.length; i++){%>
                        <tr>
                            <%for(var k=0; k < 2; k++){%>
                                <td>
                                    <%=dist[i][k]%>
                                </td>
                                <%}%>
                        </tr>
                        <%}%>
                </table>
            </center>
        </div>

        <button type="button" id="viewData" class="btn btn-outline-warning">View My Data</button>
        <button type="button" id="hideData" class="btn btn-outline-warning">Hide My Data</button>

        <div id="allResults">
            <h4><u>Find below your results personalized by your zipcode and neighborhood!</u></h4>
            <center>
                <table id="resultsTable">
                    <tr>
                        <th class="top_row ">Year</th>
                        <th class="top_row ">Neighborhood</th>
                        <th class="top_row ">Sex </th>
                        <th class="top_row ">Race/Ethnicity</th>
                        <th class="top_row ">Diagnoses per 100,000</th>
                        <th class="top_row ">Total Diagnoses</th>
                    </tr>
                    <%cases=info[1];for(var i=0; i < cases.length; i++){%>
                        <tr>
                            <%for(var k=0; k < 6; k++){%>
                                <td>
                                    <%=cases[i][k]%>
                                </td>
                                <%}%>
                        </tr>

                        <%}%>
                </table>
            </center>
        </div>
        <div id='map'></div>

        <% include global/footer %>

            <script src="scripts/map.js "></script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBrhDK19qy0m3Vfg7CGPwF47c5RgmbmcA0&callback=initMap " async defer></script>
</body>

</html>
