<!DOCTYPE html>
<html>

<head>
    <title>Main</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
    <% include global/header %>
        <table>
            <tr>
                <th class="top_row ">Zip code</th>
                <th class="top_row ">Address</th>
            </tr>
            <%dist=info[0];for(var i=0; i < dist.length; i++){%>
                <tr>
                    <%for(var k=0; k < 2; k++){%>
                        <td>
                            <%=dist[i][k]%>
                        </td>
                        <%}%>
                </tr>

                <%}%>
        </table>
        <table>
            <tr>
                <th class="top_row ">Year</th>
                <th class="top_row ">Neighborhood</th>
                <th class="top_row ">Sex </th>
                <th class="top_row ">Race/Ethnicity</th>
                <th class="top_row ">Diagnoses per 100,000</th>
                <th class="top_row ">Total Diagnoses</th>
            </tr>
            <%cases=info[1];for(var i=0; i < cases.length; i++){%>
                <tr>
                    <%for(var k=0; k < 6; k++){%>
                        <td>
                            <%=cases[i][k]%>
                        </td>
                        <%}%>
                </tr>

                <%}%>
        </table>
        <div id='map'></div>

        <% include global/footer %>

            <script src="scripts/map.js "></script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBrhDK19qy0m3Vfg7CGPwF47c5RgmbmcA0&callback=initMap " async defer></script>
</body>

</html>
