<!DOCTYPE html>
<html>
<head>
  <title>Results</title>
  <link rel="stylesheet" href="/styles/style.css">
 </head>

<body>
  <% include global/header %>


  <div id="feedback">
  </div>


  <div id="About">

    <h2>Here are your results!</h2>
    <br>
    <form action="/main" method="get">
      <button type="submit" class="btn btn-success">Return to locator</button>
    </form>
  </div>


  <footer>
    <% include global/footer %>
  </footer>
  <!--  <script src="scripts/scripts.js"></script> -->
 </body>
</html>
